body{
    margin: 0;
}
section{
    height: 350px;
    padding-bottom: 50px;
}
.tow-column{
    width:35%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    margin-right: 5%;
    padding-right: 2%;
}
.tow-column img{
    width: 300px;
    height: inherit;
}
#mission{
    border-left: 3px solid red;
    padding-left: 10px;
    font-size: 20px;
    margin-top: 80px;
    font-weight: 150px;
}
.color-orange{
    color: orange;
}
p{
    text-align: justify;
}
.inlineToBlock{
    margin-top: 10px;
    display: block;
}
.anchor-button{
    text-decoration: none;
    background: rgb(8, 131, 231);
    padding: 5px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 70;
}
#center{
    text-align: center;
}
#three-column-margin{
    margin: 3% 6%;
}
.three-column{
    width: 27%;
    float: left;
    margin: 1% 1%;
    padding: 2% 100%;
}
.three-column img{
    width: 60px;
    height: inherit;
}
#smallfont{
    font-size: x-small;
}
.box1{
    background: rgb(14, 235, 106);
    padding: 10px 5px;
    border-radius: 10px;
    color: black;
    font-weight: 70;
}
.box2{
    background: rgb(123, 224, 238);
    padding: 10px 5px;
    border-radius: 10px;
    color: black;
    font-weight: 70;
}
.box3{
    background: rgb(230, 192, 157);
    padding: 10px 5px;
    border-radius: 10px;
    color: black;
    font-weight: 70;
}
#box-size{
    margin: 5% 10%;
}
#section-3rd{
margin-top: 0%;
}

.back-shap-img{
background-image: url(/images/shapes/shape-1.png);
background-repeat: no-repeat;
background-position: left;
background-size: 35% ;
}

.back-shap-img img{
    margin-left: 13%;
    height: auto;
    width: 250px;
}

.back-shap-img2{
    background-image: url(/images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 35% ;
    }
    .back-shap-img2 img{        
        height: auto;
        width: 250px;
    }
    .back-shap-img5{
        background-image: url(/images/shapes/shape-1.png);
        background-repeat: no-repeat;
        background-position: left;
        background-size: 35% ;
        }
 .back-shap-img5 img{
        margin-left: 13%;
        height: auto;
        width: 200px;
    }

footer {
  left: 0;
  margin: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 40px;
  font-style: italic;
}